<html layout:decorate="~{layout}">
	<div layout:fragment="content" class="container">
		<h5 class="my-3 border-bottom pb-2">질문 등록</h5>
		<form th:action="@{/question/create}" method="post">
			<div class="mb-3">
				<label for="subject" class="form-label">제목</label> <!--for은 무슨 용도?-->
				<textarea name="subject" class="form-control"></textarea>
			</div>
			<div class="mb-3">
				<label for="content" class="form-label">내용</label>
				<textarea name="content" class="form-control" rows="10"></textarea>
			</div>
			<input type="submit" value="저장히기" class="btn btn-primary my-2">
		</form>
	</div>
</html>