<html layout:decorate="~{layout}">
	<div layout:fragment="content" class="container">
		<h5 class="my-3 border-bottom pb-2">질문 등록</h5>
		<form th:action="@{/question/create}" th:object="${questionForm}" method="post">
			<!--th:object는 <form>의 입력 항목들이 QuestionForm과 연결된다는 점을 타임리프에 알려주는 역할을 한다.-->
			<div th:replace="~{form_errors :: formErrorsFragment}"></div> <!--th:replace 속성을 사용하면 템플릿 내에 공통 템플릿을 삽입할 수 있다.-->
			<!--div 요소의 내용을 form_errors 템플릿으로 대체하라는 의미이다. 여기서 formErrorsFragment는 앞서 form_errors 템플릿에서 작성한 내용 일부를 가리키는 것이다.-->
			<div class="mb-3">
				<label for="subject" class="form-label">제목</label> <!--for은 무슨 용도?-->
				<input th:field="*{subject}" class="form-control">
				<!--name="subject", name="content" 대신 th:field 속성을 사용하도록 변경했다. 
					이렇게 하면 해당 태그의 id, name, value 속성이 모두 자동으로 생성되고 타임리프가 value 속성에 기존에 입력된 값을 채워 넣어 오류가 발생하더라도 기존에 입력한 값이 유지된다.-->
			</div>
			<div class="mb-3">
				<label for="content" class="form-label">내용</label>
				<textarea th:field="*{content}" class="form-control" rows="10"></textarea>
			</div>
			<input type="submit" value="저장히기" class="btn btn-primary my-2">
		</form>
	</div>
</html>